/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree ./application
 *= require_self
 */

.row {
  max-width: 65rem;
}

/** Form search in sidebar **/

input[type=search] {
  border-radius: 6px 0px 0px 6px ;
}

input[type=submit] {
  width: 80px;
  padding-left: 16px !important;
  border-radius: 0px 6px 6px 0px ;
  background-color: #d9d9d9 !important;
  color: #333 !important;
}

