#tag_cloud {
  line-height: 1.6em;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.pagination {
  margin: 20px 0;

  a {
    text-decoration: none;
  }

  span {
    padding: 3px;
    margin: 0 2px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
}